In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv('readonly/NISPUF17.csv', index_col=0)

cols = df.columns
len(cols)

453

In [24]:
df.head(10)

,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,AGEGRP,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
6,207941,20794,2,NaN,35.995367,1019,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,221381,22138,1,516.427723,248.916038,1008,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
8,182861,18286,1,313.225832,163.213401,1001,2017,NaN,2,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
9,161121,16112,1,978.042448,718.616990,1016,2017,3.0,1,1,...,,,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0
10,143401,14340,2,NaN,1536.859533,1068,2017,NaN,2,3,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df['EDUC1'].unique()

array([4, 3, 1, 2], dtype=int64)

In [32]:
df['EDUC1'].values

array([4, 3, 3, ..., 3, 2, 4], dtype=int64)

In [28]:
def proportion_of_education():
    edus = np.sort(df['EDUC1'].values)
    
    poe = {"less than high school": 0,
        "high school": 0,
        "more than high school but not college": 0,
        "college": 0}
    n = len(edus)
    
    poe["less than high school"] = np.sum(edus == 1)/n
    poe["high school"] = np.sum(edus == 2)/n
    poe["more than high school but not college"] = np.sum(edus == 3)/n
    poe["college"] = np.sum(edus == 4)/n
    
    return poe
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [35]:
def average_influenza_doses():
    cbf_flu=df.loc[:,['CBF_01','P_NUMFLU']]
    
    
    cbf_flu1=cbf_flu[cbf_flu['CBF_01'] ==1].dropna()
    cbf_flu2=cbf_flu[cbf_flu['CBF_01'] ==2].dropna()
    
    flu1=cbf_flu1['P_NUMFLU'].values.copy()
    flu1[np.isnan(flu1)] = 0
    f1=np.sum(flu1)/len(flu1)
    
    flu2=cbf_flu2['P_NUMFLU'].values.copy()
    flu2[np.isnan(flu2)] = 0
    f2=np.sum(flu2)/len(flu2)
    
    aid =(f1,f2)
    return aid
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

In [36]:
def chickenpox_by_sex():
    cpo_sex=df[df['P_NUMVRC'].gt(0) & df['HAD_CPOX'].lt(3)].loc[:,['HAD_CPOX','SEX']]
    #Male 1 Female 2
    cpo1_sex1=len(cpo_sex[(cpo_sex['HAD_CPOX']==1) & (cpo_sex['SEX']==1)])
    cpo1_sex2=len(cpo_sex[(cpo_sex['HAD_CPOX']==1) & (cpo_sex['SEX']==2)])
    cpo2_sex1=len(cpo_sex[(cpo_sex['HAD_CPOX']==2) & (cpo_sex['SEX']==1)])
    cpo2_sex2=len(cpo_sex[(cpo_sex['HAD_CPOX']==2) & (cpo_sex['SEX']==2)])
    
    cbs={"male":0,
        "female":0}
    cbs['male']=cpo1_sex1/cpo2_sex1
    cbs['female']=cpo1_sex2/cpo2_sex2
    return cbs
chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [38]:
def corr_chickenpox():
    import scipy.stats as stats
    import pandas as pd
    import numpy as np

    df = pd.read_csv('readonly/NISPUF17.csv', index_col=0)
    
    df=df[df['HAD_CPOX'].lt(3)].loc[:,['HAD_CPOX','P_NUMVRC']].dropna()
    df.columns=['had_chickenpox_column','num_chickenpox_vaccine_column']
    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df["had_chickenpox_column"],df["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    return corr
corr_chickenpox()

0.07044873460147989