# Merging DataFrames

In [4]:
# This is like union
import pandas as pd

staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                        {'Name': 'Sally', 'Role': 'Course liasion'},
                        {'Name': 'James', 'Role': 'Grader'}
                        ])
staff_df = staff_df.set_index('Name')
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [5]:
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                        {'Name': 'Mike', 'School': 'Law'},
                        {'Name': 'Sally', 'School': 'Engineering'}
                        ])
student_df = student_df.set_index('Name')
student_df

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [6]:
# Outer join, merge all data
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [7]:
# Inner join, return only those that are in both DF
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [8]:
# Left join, merge all data on the left with right regardless the right
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [9]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [10]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()

In [14]:
pd.merge(staff_df, student_df, how='right', on="Name")

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [16]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                        {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                        {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}
                        ])

student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                        {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                        {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}
                        ])

pd.merge(staff_df, student_df, how='left', on="Name")

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [19]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                        {'First Name': 'Sally','Last Name': 'Brooks', 'Role': 'Course liasion'},
                        {'First Name': 'James','Last Name': 'Wilde', 'Role': 'Grader'}
                        ])

student_df = pd.DataFrame([{'First Name': 'James','Last Name': 'Hammound', 'School': 'Business'},
                        {'First Name': 'Mike','Last Name': 'Smith', 'School': 'Law'},
                        {'First Name': 'Sally', 'Last Name': 'Brooks','School': 'Engineering'}
                        ])
pd.merge(staff_df, student_df, how='inner', on=['First Name', 'Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [20]:
len(staff_df)

3

In [33]:
# try to use concat

pd.concat([staff_df, student_df])

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion          NaN
2      James       Wilde          Grader          NaN
0      James    Hammound             NaN     Business
1       Mike       Smith             NaN          Law
2      Sally      Brooks             NaN  Engineering

In [29]:
pd.concat([staff_df, student_df], keys=['First Name', 'Last Name'])

             First Name   Last Name            Role       School
First Name 0      Kelly  Desjardins  Director of HR          NaN
           1      Sally      Brooks  Course liasion          NaN
           2      James       Wilde          Grader          NaN
Last Name  0      James    Hammound             NaN     Business
           1       Mike       Smith             NaN          Law
           2      Sally      Brooks             NaN  Engineering

# Pandas Idioms

In [34]:
import pandas as pd
import numpy as np
import timeit

df= pd.read_csv('readonly/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [38]:
(df.where(df['SUMLEV'] == 50)
 .dropna().set_index(['STNAME', 'CTYNAME'])
 .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County       50.0     3.0       6.0    1.0     1.0
        Baldwin County       50.0     3.0       6.0    1.0     3.0
        Barbour County       50.0     3.0       6.0    1.0     5.0
        Bibb County          50.0     3.0       6.0    1.0     7.0
        Blount County        50.0     3.0       6.0    1.0     9.0
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County    50.0     4.0       8.0   56.0    37.0
        Teton County         50.0     4.0       8.0   56.0    39.0
        Uinta County         50.0     4.0       8.0   56.0    41.0
        Washakie County      50.0     4.0       8.0   56.0    43.0
        Weston County        50.0     4.0       8.0   56.0    45.0

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County           54571.0              54571.0
        Baldwin County          182265.0             182265.0
        Barbour County           27457.0              27457.0
        Bibb County              22915.0              22919.0
        Blount County            57322.0              57322.0
...                                  ...                  ...
Wyoming Sweetwater County        43806.0              43806.0
        Teton County             21294.0              21294.0
        Uinta County             21118.0              21118.0
        Washakie County           8533.0               8533.0
        Weston County             7208.0               7208.0

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County             54660.0          55253.0          55175.0
        Baldwin County            183193.0         186659.0         190396.0
        Barbour County             27341.0          27226.0          27159.0
        Bibb County                22861.0          22733.0          22642.0
        Blount County              57373.0          57711.0          57776.0
...                                    ...              ...              ...
Wyoming Sweetwater County          43593.0          44041.0          45104.0
        Teton County               21297.0          21482.0          21697.0
        Uinta County               21102.0          20912.0          20989.0
        Washakie County             8545.0           8469.0           8443.0
        Weston County               7181.0           7114.0           7065.0

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [41]:
df = df[df['SUMLEV'] == 50]
df.set_index(['STNAME', 'CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County         50       3         6      1       1
        Baldwin County         50       3         6      1       3
        Barbour County         50       3         6      1       5
        Bibb County            50       3         6      1       7
        Blount County          50       3         6      1       9
...                           ...     ...       ...    ...     ...
Wyoming Sweetwater County      50       4         8     56      37
        Teton County           50       4         8     56      39
        Uinta County           50       4         8     56      41
        Washakie County        50       4         8     56      43
        Weston County          50       4         8     56      45

                           CENSUS2010POP  Estimates Base 2010  \
STNAME  CTYNAME
Alabama Autauga County             54571                54571
        Baldwin County            182265               182265
        Barbour County             27457                27457
        Bibb County                22915                22919
        Blount County              57322                57322
...                                  ...                  ...
Wyoming Sweetwater County          43806                43806
        Teton County               21294                21294
        Uinta County               21118                21118
        Washakie County             8533                 8533
        Weston County               7208                 7208

                           POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  CTYNAME
Alabama Autauga County               54660            55253            55175
        Baldwin County              183193           186659           190396
        Barbour County               27341            27226            27159
        Bibb County                  22861            22733            22642
        Blount County                57373            57711            57776
...                                    ...              ...              ...
Wyoming Sweetwater County            43593            44041            45104
        Teton County                 21297            21482            21697
        Uinta County                 21102            20912            20989
        Washakie County               8545             8469             8443
        Weston County                 7181             7114             7065

                           ...  RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME  CTYNAME            ...
Alabama Autauga County     ...          7.242091         -2.915927
        Baldwin County     ...         14.832960         17.647293
        Barbour County     ...         -4.728132         -2.500690
        Bibb County        ...         -5.527043         -5.068871
        Blount County      ...          1.807375         -1.177622
...                        ...               ...               ...
Wyoming Sweetwater County  ...          1.072643         16.243199
        Teton County       ...         -1.589565          0.972695
        Uinta County       ...        -17.755986         -4.916350
        Washakie County    ...        -11.637475         -0.827815
        Weston County      ...        -11.752361         -8.040059

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME  CTYNAME
Alabama Autauga County            -3.012349          2.265971
        Baldwin County            21.845705         19.243287
        Barbour County            -7.056824         -3.904217
        Bibb County               -6.201001         -0.177537
        Blount County             -1.748766         -2.062535
...                                     ...               ...
Wyoming Sweetwater County         -5.339774        -14.252889
        Teton County              19.525929         14.143021
        Uinta County              -6.902954        -14.215862
        Washakie County           -2.013502        -17.781491
        Weston County             12.372583          1.533635

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME  CTYNAME
Alabama Autauga County            -2.530799     7.606016    -2.626146
        Baldwin County            17.197872    15.844176    18.559627
        Barbour County           -10.543299    -4.874741    -2.758113
        Bibb County                0.177258    -5.088389    -4.363636
        Blount County             -1.369970     1.859511    -0.848580
...                                     ...          ...          ...
Wyoming Sweetwater County        -14.248864     1.255221    16.243199
        Teton County              -0.564849     0.654527     2.408578
        Uinta County             -12.127022   -18.136812    -5.536861
        Washakie County            1.682288   -11.990126    -1.182592
        Weston County              6.935294   -12.032179    -8.040059

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County       -2.722002     2.592270    -2.187333
        Baldwin County       22.727626    20.317142    18.293499
        Barbour County       -7.167664    -3.978583   -10.543299
        Bibb County          -5.403729     0.754533     1.107861
        Blount County        -1.402476    -1.577232    -0.884411
...                                ...          ...          ...
Wyoming Sweetwater County    -5.295460   -14.075283   -14.070195
        Teton County         21.160658    16.308671     1.520747
        Uinta County         -7.521840   -14.740608   -12.606351
        Washakie County      -2.250385   -18.020168     1.441961
        Weston County        12.372583     1.533635     6.935294

[3142 rows x 98 columns]

In [42]:
# Compare the above two approaches
def first_approach():
    global df
    return (df.where(df['SUMLEV'] == 50)
             .dropna().set_index(['STNAME', 'CTYNAME'])
             .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

df= pd.read_csv('readonly/census.csv')
timeit.timeit(first_approach, number=10)

0.2065999999995256

In [43]:
def second_approach():
    global df
    new_df = df[df['SUMLEV'] == 50]
    new_df.set_index(['STNAME', 'CTYNAME'], inplace=True)
    return new_df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

timeit.timeit(second_approach, number=10)

0.06708210000033432

In [44]:
df= pd.read_csv('readonly/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [49]:
# use of apply method

def min_max(row):
    data = row[['POPESTIMATE2010',
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
               'POPESTIMATE2014',
               'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

df.apply(min_max, axis="columns").head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [50]:
# When what to add the result to the DataFrame

def min_max(row):
    data = row[['POPESTIMATE2010',
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
               'POPESTIMATE2014',
               'POPESTIMATE2015']]
    
    row['min'] = np.min(data)
    row['max'] = np.max(data)
    return row

df.apply(min_max, axis="columns").head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,min,max
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594,4785161,4858979
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333,54660,55347
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499,183193,203709
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299,26489,27341
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861,22512,22861

In [53]:
# using lambda to accomplish the above things

rows = ['POPESTIMATE2010',
               'POPESTIMATE2011',
               'POPESTIMATE2012',
               'POPESTIMATE2013',
               'POPESTIMATE2014',
               'POPESTIMATE2015']

df.apply(lambda x: np.max(x[rows]), axis=1).head()

0    4858979
1      55347
2     203709
3      27341
4      22861
dtype: int64

# Group By
## Splitting

In [66]:
df= pd.read_csv('readonly/census.csv')
df = df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [59]:
%%timeit -n 3

for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    print('state is ', state, 'and avg is ',avg)

state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203

state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333

state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635

state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791

state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094

state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
807 ms ± 27.6 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [63]:
%%timeit -n 3

for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print('state is ', group, 'and avg is ',avg)

state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333

state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672

state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
state is  Alabama and avg is  71339.34328358209
state is  Alaska and avg is  24490.724137931036
state is  Arizona and avg is  426134.4666666667
state is  Arkansas and avg is  38878.90666666667
state is  California and avg is  642309.5862068966
state is  Colorado and avg is  78581.1875
state is  Connecticut and avg is  446762.125
state is  Delaware and avg is  299311.3333333333
state is  District of Columbia and avg is  601723.0
state is  Florida and avg is  280616.5671641791
state is  Georgia and avg is  60928.63522012578
state is  Hawaii and avg is  272060.2
state is  Idaho and avg is  35626.86363636364
state is  Illinois and avg is  125790.50980392157
state is  Indiana and avg is  70476.10869565218
state is  Iowa and avg is  30771.262626262625
state is  Kansas and avg is  27172.55238095238
state is  Kentucky and avg is  36161.39166666667
state is  Louisiana and avg is  70833.9375
state is  Maine and avg is  83022.5625
state is  Maryland and avg is  240564.66666666666
state is  Massachusetts and avg is  467687.78571428574
state is  Michigan and avg is  119080.0
state is  Minnesota and avg is  60964.65517241379
state is  Mississippi and avg is  36186.54878048781
state is  Missouri and avg is  52077.62608695652
state is  Montana and avg is  17668.125
state is  Nebraska and avg is  19638.075268817203
state is  Nevada and avg is  158855.9411764706
state is  New Hampshire and avg is  131647.0
state is  New Jersey and avg is  418661.61904761905
state is  New Mexico and avg is  62399.36363636364
state is  New York and avg is  312550.03225806454
state is  North Carolina and avg is  95354.83
state is  North Dakota and avg is  12690.396226415094
state is  Ohio and avg is  131096.63636363635
state is  Oklahoma and avg is  48718.844155844155
state is  Oregon and avg is  106418.72222222222
state is  Pennsylvania and avg is  189587.74626865672
state is  Rhode Island and avg is  210513.4
state is  South Carolina and avg is  100551.39130434782
state is  South Dakota and avg is  12336.060606060606
state is  Tennessee and avg is  66801.1052631579
state is  Texas and avg is  98998.27165354331
state is  Utah and avg is  95306.37931034483
state is  Vermont and avg is  44695.78571428572
state is  Virginia and avg is  60111.29323308271
state is  Washington and avg is  172424.10256410256
state is  West Virginia and avg is  33690.8
state is  Wisconsin and avg is  78985.91666666667
state is  Wyoming and avg is  24505.478260869564
25.7 ms ± 2.72 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)

In [67]:
df = df.set_index('STNAME')

def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0] <'Q':
        return 1
    return 2

for group, frame in df.groupby(set_batch_number):
    print('frmaes ' + str(len(frame)) + ' group', str(group))

frmaes 1177 group 0
frmaes 1134 group 1
frmaes 831 group 2

# Aggragation

In [75]:
df.groupby("STNAME").agg({'CENSUS2010POP': (np.nanmean, np.nanstd), 'POPESTIMATE2015': np.average }).head()

            CENSUS2010POP               POPESTIMATE2015
                  nanmean        nanstd         average
STNAME
Alabama      71339.343284  1.037267e+05    72522.074627
Alaska       24490.724138  5.688078e+04    25463.172414
Arizona     426134.466667  9.684505e+05   455204.333333
Arkansas     38878.906667  5.665489e+04    39709.386667
California  642309.586207  1.416933e+06   674910.655172

# Transformation

In [80]:
df= pd.read_csv('readonly/census.csv')
df = df[df['SUMLEV'] == 50]
df.head()

cols = ['STNAME', 'CENSUS2010POP']
transform_df = df[cols].groupby('STNAME').transform(np.nanmean)
transform_df.head()

   CENSUS2010POP
1   71339.343284
2   71339.343284
3   71339.343284
4   71339.343284
5   71339.343284

# Flitering

In [83]:
df.groupby('STNAME').filter(lambda x: np.nanmean(x['CENSUS2010POP']) > 71339.343284 ).head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
99,50,4,8,4,1,Arizona,Apache County,71518,71518,71766,...,1.775891,1.197250,-20.566049,-5.674114,-11.302431,2.094996,1.500003,-20.220982,-5.326435,-10.939637
100,50,4,8,4,3,Arizona,Cochise County,131346,131357,131809,...,3.353411,-15.621933,-22.883978,-23.290753,-13.596166,5.128302,-12.065659,-20.574165,-20.939882,-10.798115
101,50,4,8,4,5,Arizona,Coconino County,134421,134437,134626,...,-12.402905,4.908203,-3.154921,-0.809483,2.992043,-11.569596,5.818774,-2.120401,0.444851,4.256795
102,50,4,8,4,7,Arizona,Gila County,53597,53597,53544,...,-0.766233,-6.628859,-0.056574,4.125692,1.712168,-0.429838,-6.234508,0.396017,4.615501,2.220173
103,50,4,8,4,9,Arizona,Graham County,37220,37220,37137,...,-9.054407,-10.941954,3.659258,5.972606,-17.348990,-8.946617,-10.860902,3.793790,6.264600,-17.031630

# Date/Time Functionality

In [90]:
pd.Timestamp('1997-07-04 00:00:00')

Timestamp('1997-07-04 00:00:00')

In [91]:
pd.Timestamp('1997-07-04 00:00:00').weekday()

4

In [88]:
pd.Period('3/5/2020') - 2

Period('2020-03-03', 'D')

# Group by from youtube

In [7]:
import pandas as pd
import numpy as np

drinks = pd.read_csv("http://bit.ly/drinksbycountry")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [8]:
# drinks['beer_servings'].mean()
drinks.beer_servings.mean() # this the same as using the above line

106.16062176165804

In [9]:
np.mean(drinks.beer_servings)

106.16062176165804

In [10]:
drinks.groupby('continent').beer_servings.mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

In [18]:
drinks[drinks['continent'] == 'Africa'].head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
2,Algeria,25,0,14,0.7,Africa
4,Angola,217,57,45,5.9,Africa
18,Benin,34,4,13,1.1,Africa
22,Botswana,173,35,35,5.4,Africa
26,Burkina Faso,25,7,7,4.3,Africa